<div>
    <app-page-header [heading]="'Add Notes'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-6">

            <form role="form">
                <fieldset class="form-group">
                    <label>Add Notes Title</label>
                    <input class="form-control" placeholder="please enter notes title">
                </fieldset>

                <fieldset class="form-group">
                    <label>Department</label>
                    <br/>
                    <!-- <department-list>Loading....</department-list> -->
                    <select class="form-control">
                        <option>Information Technology and Management</option>
                        <option>Computer Science</option>
                    </select>
                </fieldset>

                <fieldset class="form-group">
                    <label>Course</label>
                    <br/>
                    <!-- <department-list>Loading....</department-list> -->
                    <select class="form-control">
                        <option>Advanced Web System Integration</option>
                        <option>Advanced Software Development</option>
                    </select>
                </fieldset>

                <fieldset class="form-group">
                    <label>Professor</label>
                    <input class="form-control" placeholder="please enter name of the professor">
                </fieldset>

                <fieldset class="form-group">
                    <label>Detail 1</label>
                    <input class="form-control" placeholder="e.g.name of sub material">
                </fieldset>
                <fieldset class="form-group">
                    <label>Detail 2</label>
                    <input class="form-control" placeholder="e.g.name of sub material">
                </fieldset>
                <fieldset class="form-group">
                    <label>Detail 3</label>
                    <input class="form-control" placeholder="e.g.name of sub material">
                </fieldset>

                <fieldset class="form-group">
                    <label>Notes Description/Comments</label>
                    <textarea class="form-control" rows="3" placeholder="please enter additional notes"></textarea>
                </fieldset>

                <fieldset class="form-group">
                    <label for="lab-image">Image</label>
                    <input type="file" class="form-control-file" id="lab-image">
                </fieldset>

                <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                        <input type="text" class="form-control" placeholder="enter price">
                </div>

                <button type="submit" class="btn btn-secondary">Submit Button</button>
                
                <button type="reset" class="btn btn-secondary">Reset Button</button>
            </form>
        </div>
    </div>
    <!-- /.row -->
</div>