<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('profile')">
                <span>
                    <i class="fa fa-plus"></i>&nbsp; {{ 'Profile' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'profile'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/update-profile" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Update Profile' | translate }}
                        </a>
                    </li>
                </ul>
            </li>
            <a hidden="student.isEnabled" [routerLink]="['/add-department']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Add Department' | translate }}
            </a>
            <a hidden="student.isEnabled" [routerLink]="['/add-course']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Add Course' | translate }}
            </a>
            <a class="list-group-item" (click)="addExpandClass('book')">
                <span>
                    <i class="fa fa-plus"></i>&nbsp; {{ 'Manage Book' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'book'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/add-book" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Add Book' | translate }}
                        </a>
                    </li>
                    <li>
                        <a routerLink="/book-list" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'List Book' | translate }}
                        </a>
                    </li>
                </ul>
            </li>
            <a class="list-group-item" (click)="addExpandClass('notes')">
                <span>
                    <i class="fa fa-plus"></i>&nbsp; {{ 'Manage Notes' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'notes'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/add-notes" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Add Notes' | translate }}
                        </a>
                    </li>
                    <li>
                        <a routerLink="/notes-list" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'List Notes' | translate }}
                        </a>
                    </li>
                </ul>
            </li>
            <a class="list-group-item" (click)="addExpandClass('lab')">
                <span>
                    <i class="fa fa-plus"></i>&nbsp; {{ 'Manage Lab' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'lab'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/add-lab" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Add Lab' | translate }}
                        </a>
                    </li>
                    <li>
                        <a routerLink="/lab-list" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'List Lab' | translate }}
                        </a>
                    </li>
                </ul>
            </li>
            <a class="list-group-item" (click)="addExpandClass('shop')">
                <span>
                    <i class="fa fa-plus"></i>&nbsp; {{ 'Shop' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'shop'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/shop-book-list" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Shop Book' | translate }}
                        </a>
                    </li>
                </ul>
                <ul class="submenu">
                    <li>
                        <a routerLink="/shop-notes-list" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Shop Notes' | translate }}
                        </a>
                    </li>
                </ul>
                <ul class="submenu">
                    <li>
                        <a routerLink="/shop-lab-list" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Shop Lab' | translate }}
                        </a>
                    </li>
                </ul>
            </li>
            <a [routerLink]="['/order-history']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Order History' | translate }}
            </a>
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span>
                    <i class="fa fa-plus"></i>&nbsp; {{ 'Menu' | translate }}</span>
            </a>
            
        </div>
    </ul>
</nav>