<div>
    <app-page-header [heading]="'Lab Material'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="row" style="margin-top: 120px;" class="col-lg-6">
            <!-- <div class="col-xs-3">
                <a routerLink="/bookList">Back to book list</a>
                <br />
                <img class="img-responsive" src="{{serverPath}}/image/book/{{book.id}}.png" />
            </div> -->
            <div>
                <h3>
                    <span *ngIf="addLabSuccess" style="color:forestgreen">
                        <i class="fa fa-check" style="color:forestgreen"></i>Added to cart.</span>
                </h3>
                <h3>{{lab.title}}</h3>
                <br>
                <div class="row">
                    <div class="col-8">
                        <p>
                            <strong>Professor: </strong>
                            <span>{{lab.professor}}</span>
                        </p>
                        <p>
                            <strong>Lab Details 1:</strong>
                            <span>{{lab.itemdetails1}}</span>
                        </p>
                        <p>
                            <strong>Lab Details 2:</strong>
                            <span>{{lab.itemdetails2}}</span>
                        </p>
                        <p>
                            <strong>Lab Details 3:</strong>
                            <span>{{lab.itemdetails3}}</span>
                        </p>
                        <p>
                            <strong>Lab Details 4:</strong>
                            <span>{{lab.itemdetails4}}</span>
                        </p>
                        <p>
                            <strong>Lab Details 5:</strong>
                            <span>{{lab.itemdetails5}}</span>
                        </p>
                        <p>
                            <strong>Department</strong>
                            <span>{{lab.department?.departmentName}}</span>
                        </p>
                        <p>
                            <strong>Course</strong>
                            <span>{{lab.course?.courseName}}</span>
                        </p>
                    </div>
                    <div class="col-4">
                        <div>
                            <h4>Price:
                                <span style="color: #db3208;">$
                                    <span>
                                        {{lab.price | number : '1.2-2'}}
                                    </span>
                                </span>
                            </h4>
                        </div>
                        <div>
                            <button md-raised-button (click)="onAddLabToStudentCart()" class="btn btn-default btn-success">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>

            <hr />
            <p>{{lab.description}}</p>
        </div>
    </div>
    <!-- /.row -->
</div>