<div class="container">
    <div class="col-lg-8" style="margin-top: 120px;">
        <div *ngIf="studentPaymentStatus">
            <div class="row alert alert-success">
                <h3>
                    <i class="fa fa-check" style="color:limegreen;"></i> Thank you, your order has been placed. </h3>
                <h4>The estimated delivery date is: {{estimatedDeliveryDate}}</h4>
                <h4>Your Order Confirmation Number is: {{studentPaymentAuthId}}</h4>
            </div>
            <div class="row col-lg-12">
                <div class="col-lg-4">
                    <h4>Products</h4>
                </div>
                <div class="col-lg-4">
                    <h4>Title</h4>
                </div>
                <div class="col-lg-4">
                    <h4>Price</h4>
                </div>
            </div>

            <div class="row col-lg-12" style="padding-bottom: 15px" *ngFor="let selectedBook of selectedBookList ">
                <hr/>
                <div class="col-lg-4 text-left">
                    <a (click)="onSelect(selectedBook?.book)">
                        <img class="img-responsive shelf-book" src="{{serverPath}}/image/book/{{selectedBook.book.id}}.png" alt="Product Image" style="width:70px;"
                        />
                    </a>
                </div>
                <div class="col-lg-4">
                    <h5 style="color: #0b83f3; font-size: large;">{{selectedBook?.book.title}}</h5>
                </div>
                <div class="col-lg-4">
                    <h5 style="color: #db3208; font-size: large;">${{selectedBook?.book.price}}</h5>
                </div>
            </div>
            <div class="row col-lg-12" style="padding-bottom: 15px" *ngFor="let selectedNotes of selectedNotesList ">
                <div class="col-lg-4 text-left">
                    <a (click)="onSelect(selectedNotes?.notes)">
                        <img class="img-responsive" src="{{serverPath}}/image/notes/{{selectedNotes.notes.id}}.png" alt="Product Image" style="width:70px;" />
                    </a>
                </div>
                <div class="col-lg-4">
                    <h5 style="color: #db3208; font-size: large;">{{selectedNotes?.notes.title}}</h5>
                    <h5>Professor</h5>                                        
                    <h6 style="color: #db3208; font-size: large;">{{selectedNotes?.notes.professor}}</h6>                        
                </div>
                <div class="col-lg-4">
                    <h5 style="color: #db3208; font-size: large;">${{selectedNotes?.notes.price}}</h5>
                </div>
            </div>
            <div class="row col-lg-12" style="padding-bottom: 15px" *ngFor="let selectedLabMaterial of selectedLabMaterialList ">
                <div class="col-lg-4 text-left">
                    <a (click)="onSelect(selectedLabMaterial?.lab)">
                        <img class="img-responsive" src="{{serverPath}}/image/labs/{{selectedLabMaterial.lab.id}}.png" alt="Product Image" style="width:70px;" />
                    </a>
                </div>
                <div class="col-lg-4">
                    <h5 style="color: #db3208; font-size: large;">{{selectedLabMaterial?.lab.title}}</h5>
                    <h5>Professor</h5>                                        
                    <h6 style="color: #db3208; font-size: large;">{{selectedLabMaterial?.lab.professor}}</h6>                        
                </div>
                <div class="col-lg-4">
                    <h5 style="color: #db3208; font-size: large;">${{selectedLabMaterial?.lab.price}}</h5>
                </div>
            </div>
            
            <hr/>
        </div>
        <div *ngIf="!studentPaymentStatus">
            <div class="row alert alert-danger">
                <h3>
                    <i class="fa fa-check" style="color:limegreen;"></i>Your transaction has failed.</h3>
                    <h4>If money has been deducted from your account, it will be refunded with 2-3 business days.</h4>
                    <h4>For more information, contact customer support at +1 8000-4100-1000</h4>
            </div>
        </div>
    </div>
</div>