<!--Source Code Reference: www.auth0.com, quickstart tutorial-->
<h4 *ngIf="auth.isAuthenticated()">
  You are logged in! You can now view your <a routerLink="/profile">profile area</a>.
</h4>
<h4 *ngIf="!auth.isAuthenticated()">
  You are not logged in! Please <a (click)="auth.login()">Log In</a> to continue.
</h4>
