<select class="form-control" [(ngModel)]="selectedDepartment.id">
    <option *ngFor="let department of departments" value= {{department.id}}>
        {{department.departmentName}}
    </option>
</select>