<div class="card-block">
    <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Tushar Uploaded ITMD Notes</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>This notes are helpful for basic database course</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Keith Birdsong</h4>
                </div>
                <div class="timeline-body">
                    <p>I want to know has taken Professor. Tim's Digital Signalling and Analog Processing Course in the past.</p>                    
                </div>
            </div>
        </li>        
    </ul>
</div>
