<div>
	<app-page-header [heading]="'View Lab'" [icon]="'fa-edit'"></app-page-header>

	<div class="row">
		<div class="col-lg-6">

			<div class="mb-3">
				<a routerLink="/labList">
					<i class="fa fa-long-arrow-left"></i> Go Back</a>
				<span> / </span>
				<a (click)="onSelect(lab)" style="cursor: pointer">Edit</a>
			</div>
			
			<div>
				<div class="card card-success card-inverse mb-3">
					<div class="card-header card-success">
						<p>
							<strong>Title: </strong>{{lab?.title}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Professor: </strong>{{lab?.professor}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Lab Details 1: </strong>{{lab?.itemdetails1}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Lab Details 2: </strong>{{lab?.itemdetails2}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Lab Details 3: </strong>{{lab?.itemdetails3}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Lab Details 4: </strong>{{lab?.itemdetails4}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Lab Details 5: </strong>{{lab?.itemdetails5}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Description: </strong>{{lab?.description}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Price: </strong>{{lab?.price}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Student Email Id: </strong>{{lab?.student?.emailId}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Student Contact: </strong>{{lab?.student?.phone}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Course Name: </strong>{{lab?.course?.courseName}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Department Name: </strong>{{lab?.department?.departmentName}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>