<div>
	<app-page-header [heading]="'View Book'" [icon]="'fa-edit'"></app-page-header>

	<div class="row">
		<div class="col-lg-6">

			<div class="mb-3">
				<a routerLink="/bookList">
					<i class="fa fa-long-arrow-left"></i> Go Back</a>
				<span> / </span>
				<a (click)="onSelect(book)" style="cursor: pointer">Edit</a>
			</div>
			
			<div>
				<div class="card card-success card-inverse mb-3">
					<div class="card-header card-success">
						<p>
							<strong>Title: </strong>{{book?.title}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Author: </strong>{{book?.author}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Publisher: </strong>{{book?.publisher}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Edition: </strong>{{book?.edition}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Description: </strong>{{book?.description}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Price: </strong>{{book?.price}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Student Email Id: </strong>{{book?.student?.emailId}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Student Contact: </strong>{{book?.student?.phone}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Course Name: </strong>{{book?.course?.courseName}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Department Name: </strong>{{book?.department?.departmentName}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>