<div class="container">

    <app-page-header [heading]="'Order Checkout'" [icon]="'fa fa-shopping-cart'"></app-page-header>

    <div class="row" class="col-lg-6" style="margin-top: 120px;">
        <form (ngSubmit)="onSubmit()" method="post" data-toggle="validator">
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p style="font-size: smaller; font-weight: bolder">By placing your order, you agree to Le's Bookstore
                            <a href="#">privacy</a> notice and
                            <a href="#">conditions</a> of use.</p>
                        <hr/>
                        <div class="row">
                        <div class="col-xs-7 text-left ">
                                <h3 style="color:rgb(4, 158, 37); ">
                                    <strong>Order Summary</strong>
                                </h3>
                            </div>
                        </div>
                        <!-- <h3></h3> -->
                        <div class="row">
                            <div class="col-xs-7">
                                    <b>Total before tax:</b>
                            </div>
                            <div class="col-xs-5 text-right">
                                    &nbsp;$
                                <span>{{studentCart.total}}</span>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-xs-7 text-left ">
                                    <b>Estimated tax:</b>
                            </div>
                            <div class="col-xs-5 text-right ">
                                    &nbsp;$
                                <span>{{studentCart.total*0.06 | number : '1.2-2'}}</span>
                            </div>
                        </div>
                        <hr />
                        <div class="row ">
                            <div class="col-xs-7 text-left ">
                                <h3 style="color:darkred; ">
                                    <strong>Order Total:</strong>
                                </h3>
                            </div>
                            <div class="col-xs-5 text-right ">
                                <h3>
                                    <strong style="color:darkred; ">$
                                        <span>{{studentCart.total*1.06 | number : '1.2-2'}}</span>
                                    </strong>
                                </h3>
                            </div>
                        </div>
                        <div class="panel-footer ">Shipping and handling haven't applied.</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 ">
                <div *ngIf="missingRequiredField">
                    <h5 class="alert alert-warning ">There are some fields missing. Field with * is required. </h5>
                </div>
                <div class="form-group">
                    <!--1. Shipping Address-->
                    <div label="1. Shipping Address">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title ">
                                    1. Shipping Address
                                </h4>
                            </div>
                            <div class="panel-body">
                                <div class="form-group ">
                                    <label for="shippingName ">* Name</label>
                                    <input type="text " class="form-control " id="shippingName " placeholder="Recevier Name " name="shippingAddressName " [(ngModel)]="studentDeliveryDetails.studentDeliveryName "
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="shippingAddress ">* Street Address</label>
                                    <input type="text " class="form-control " id="shippingAddress " placeholder="Street Address 1 " name="shippingAddressStreet1 "
                                        [(ngModel)]="studentDeliveryDetails.studentDeliveryStreet1 " />
                                </div>
                                <div class="form-group ">
                                    <input type="text " class="form-control " placeholder="Street Address 2 " name="shippingAddressStreet2 " [(ngModel)]="studentDeliveryDetails.studentDeliveryStreet2 "
                                    />
                                </div>
                                <div class="row ">
                                    <div class="col-xs-4 ">
                                        <div class="form-group ">
                                            <label for="shippingCity ">* City</label>
                                            <input type="text " class="form-control " id="shippingCity " placeholder="Your City " name="shippingAddressCity " [(ngModel)]="studentDeliveryDetails.studentDeliveryCity "
                                            />
                                        </div>
                                    </div>
                                    <div class="col-xs-4 ">
                                        <div class="form-group ">
                                            <label for="shippingState ">* State</label>
                                            <select id="shippingState " class="form-control " name="shippingAddressState" [(ngModel)]="studentDeliveryDetails.studentDeliveryState ">
                                                <option value="" disabled>-- state --</option>
                                                <option *ngFor="let state of stateList ">{{state}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 ">
                                        <div class="form-group ">
                                            <label for="shippingZipcode ">* Zipcode</label>
                                            <input type="text " class="form-control " id="shippingZipcode" placeholder="Zipcode" name="shippingAddressZipcode" [(ngModel)]="studentDeliveryDetails.studentDeliveryPostalcode "
                                            />
                                        </div>
                                    </div>
                                    <div class="col-xs-4 ">
                                        <div class="form-group ">
                                            <label for="shippingZipcode ">* Country</label>
                                            <input type="text " class="form-control " id="shippingCountry" placeholder="shippingCountry" name="shippingCountry" [(ngModel)]="studentDeliveryDetails.studentDeliveryCountry"/>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!--2. Payment Information-->
                    <div label="2. Payment Information">
                        <div class="panel panel-default ">
                            <div class="panel-heading ">
                                <h4 class="panel-title ">
                                    2. Payment Information
                                </h4>
                            </div>
                            <div class="panel-body ">
                                <table class="table " *ngIf="!emptyPaymentList ">
                                    <thead>
                                        <tr>
                                            <th>Available Credit Card</th>
                                            <th>Operations</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let studentPayment of studentPaymentList ">
                                            <td>
                                                {{studentPayment.cardName}}
                                            </td>
                                            <td>
                                                <a class="pointer" (click)="setPaymentMethod(studentPayment)">use this address
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- CREDIT CARD FORM STARTS HERE -->
                                <div class="row">
                                    <div class="col-xs-12">
                                        <img src="../../../assets/image/creditcard.png" class="img-responsive" />
                                        <br/>
                                        <div class="form-group">
                                            <label for="cardType">* Select Card Type:</label>
                                            <select class="form-control" id="cardType" name="type" [(ngModel)]="payment.cardType">
                                                <option value="" disabled="disabled">
                                                    -- Card Type --
                                                </option>
                                                <option value="visa">Visa</option>
                                                <option value="mastercard">Mastercard</option>
                                                <option value="discover">Discover</option>
                                                <option value="amex">American Express</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="cardHolder">* Card Holder</label>
                                            <input type="text" class="form-control" id="cardHolder" required="required" placeholder="Card Holder Name" name="holderName"
                                                [(ngModel)]="payment.cardHolderName" />
                                        </div>
                                        <div class="form-group">
                                            <label for="cardNumber">* Card Number</label>
                                            <div class="input-group">
                                                <input required="required" id="cardNumber" type="tel" class="form-control" name="cardNumber" placeholder="Valid Card Number"
                                                    name="cardNumber" [(ngModel)]="payment.cardNumber" />
                                                <span class="input-group-addon">
                                                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-7 col-md-7">
                                        <div class="form-group">
                                            <label>* Expiration Date</label>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <select class="form-control" name="expiryMonth" required="required" [(ngModel)]="payment.expiryMonth">
                                                        <option value="" disabled="disabled">
                                                            --Month--
                                                        </option>
                                                        <option value="1">Jan (01)</option>
                                                        <option value="2">Feb (02)</option>
                                                        <option value="3">Mar (03)</option>
                                                        <option value="4">Apr (04)</option>
                                                        <option value="5">May (05)</option>
                                                        <option value="6">June (06)</option>
                                                        <option value="7">July (07)</option>
                                                        <option value="8">Aug (08)</option>
                                                        <option value="9">Sep (09)</option>
                                                        <option value="10">Oct (10)</option>
                                                        <option value="11">Nov (11)</option>
                                                        <option value="12">Dec (12)</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-6">
                                                    <select class="form-control" name="expiryYear" [(ngModel)]="payment.expiryYear">
                                                        <option value="" disabled="disabled">--Year--
                                                        </option>
                                                        <option value="17">2017</option>
                                                        <option value="18">2018</option>
                                                        <option value="19">2019</option>
                                                        <option value="20">2020</option>
                                                        <option value="21">2021</option>
                                                        <option value="22">2022</option>
                                                        <option value="23">2023</option>
                                                        <option value="23">2024</option>
                                                        <option value="23">2025</option>
                                                        <option value="23">2026</option>
                                                        <option value="23">2027</option>
                                                        <option value="23">2028</option>
                                                        <option value="23">2029</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-5 col-md-5 pull-right">
                                        <div class="form-group">
                                            <label for="cardCVC">CV Code</label>
                                            <input id="cardCVC" type="tel" class="form-control" name="cardCVC" placeholder="CVC" name="cvc" [(ngModel)]="payment.cvc"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <!-- CREDIT CARD FORM ENDS HERE -->
                                <div class="checkbox">
                                    <label>
                                        <input id="theSameAsShippingAddress" type="checkbox" name="billingSameAsShipping" value="true" (click)="setBillingAsShipping($event.target.checked)"
                                        /> The same as shipping address
                                    </label>
                                </div>
                                <div class="form-group ">
                                    <label for="billingName ">* Name</label>
                                    <input type="text " class="form-control billingAddress " id="billingName " placeholder="Recevier Name " name="billingAddressName "
                                        [(ngModel)]="billingAddress.billingAddressName" />
                                </div>
                                <div class="form-group ">
                                    <label for="billingAddress ">* Street Address</label>
                                    <input type="text " id="billingAddress " class="form-control billingAddress " placeholder="Street Address 1 " name="billingAddressStreet1 "
                                        [(ngModel)]="billingAddress.billingAddressStreet1" />
                                </div>
                                <div class="form-group ">
                                    <input type="text " class="form-control billingAddress " placeholder="Street Address 2 " name="billingAddressStreet2 " [(ngModel)]="billingAddress.billingAddressStreet2"
                                    />
                                </div>
                                <div class="row ">
                                    <div class="col-xs-4 ">
                                        <div class="form-group ">
                                            <label for="billingCity ">* City</label>
                                            <input type="text " class="form-control billingAddress " id="billingCity " placeholder="City " name="billingAddressCity "
                                                [(ngModel)]="billingAddress.billingAddressCity" />
                                        </div>
                                    </div>
                                    <div class="col-xs-4 ">
                                        <div class="form-group ">
                                            <label for="billingState ">* State</label>
                                            <select id="billingState " class="form-control billingAddress " name="billingAddressState " [(ngModel)]="billingAddress.billingAddressState">
                                                <option value="" disabled="disabled ">-- state --
                                                </option>
                                                <option *ngFor="let state of stateList">{{state}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 ">
                                        <div class="form-group ">
                                            <label for="billingZipcode ">* Zipcode</label>
                                            <input type="text " class="form-control billingAddress " id="billingZipcode " placeholder="Zipcode " name="billingAddressZipcode "
                                                [(ngModel)]="billingAddress.billingAddressPostalcode " />
                                        </div>
                                    </div>
                                    <div class="col-xs-4 ">
                                        <div class="form-group ">
                                            <label for="billingAddressCountry">* Country</label>
                                            <input type="text " class="form-control " id="billingAddressCountry" placeholder="billingAddressCountry" name="billingAddressCountry" [(ngModel)]="billingAddress.billingAddressCountry"/>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!--3. Review Items and Shipping-->
                    <div label="3. Review">
                        <div class="panel panel-default ">
                            <div class="panel-heading ">
                                <h4 class="panel-title ">
                                    3. Review Items and Shipping
                                </h4>
                            </div>
                            <div class="panel-body ">
                                <h4>Choose your shipping method:</h4>
                                <div class="radio">
                                    <label>
                                        <input type="radio" id="shippingMethod" name="shippingMethod" value="groundShipping" [(ngModel)]="shippingMethod" /> Ground Shipping
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" id="shippingMethod" name="shippingMethod" value="premiumShipping" [(ngModel)]="shippingMethod" /> Premium Shipping
                                    </label>
                                </div>

                                <div class="row col-lg-12">
                                    <div class="col-md-4 text-left">
                                        <h4>Products</h4>
                                    </div>
                                    <div class="col-lg-4">
                                        <h4>Title</h4>                                        
                                    </div>
                                    <div class="col-lg-4">
                                        <h4>Price</h4>
                                    </div>

                                </div>
                                <!--*******  display products in cart  ********-->
                                <div class="row col-lg-12" style="padding-bottom: 15px" *ngFor="let selectedBook of selectedBookList ">
                                    <div class="col-lg-4 text-left">
                                        <a (click)="onSelect(selectedBook?.book)">
                                            <img class="img-responsive" src="{{serverPath}}/image/book/{{selectedBook.book.id}}.png" alt="Product Image" style="width:70px;" />
                                        </a>
                                    </div>
                                    <div class="col-lg-4">
                                        <h5 style="color: #db3208; font-size: large;">{{selectedBook?.book.title}}</h5>
                                        <h5>Author</h5>                                        
                                        <h6 style="color: #db3208; font-size: large;">{{selectedBook?.book.author}}</h6>
                                        <h5>Edition</h5>
                                        <h6 style="color: #db3208; font-size: large;">{{selectedBook?.book.edition}}</h6>
                                    </div>
                                    <div class="col-lg-4">
                                        <h5 style="color: #db3208; font-size: large;">${{selectedBook?.book.price}}</h5>
                                    </div>
                                </div>
                                <div class="row col-lg-12" style="padding-bottom: 15px" *ngFor="let selectedNotes of selectedNotesList ">
                                    <div class="col-lg-4 text-left">
                                        <a (click)="onSelect(selectedNotes?.notes)">
                                            <img class="img-responsive" src="{{serverPath}}/image/notes/{{selectedNotes.notes.id}}.png" alt="Product Image" style="width:70px;" />
                                        </a>
                                    </div>
                                    <div class="col-lg-4">
                                        <h5 style="color: #db3208; font-size: large;">{{selectedNotes?.notes.title}}</h5>
                                        <h5>Professor</h5>                                        
                                        <h6 style="color: #db3208; font-size: large;">{{selectedNotes?.notes.professor}}</h6>                        
                                    </div>
                                    <div class="col-lg-4">
                                        <h5 style="color: #db3208; font-size: large;">${{selectedNotes?.notes.price}}</h5>
                                    </div>
                                </div>
                                <div class="row col-lg-12" style="padding-bottom: 15px" *ngFor="let selectedLabMaterial of selectedLabMaterialList ">
                                    <div class="col-lg-4 text-left">
                                        <a (click)="onSelect(selectedLabMaterial?.lab)">
                                            <img class="img-responsive" src="{{serverPath}}/image/labs/{{selectedLabMaterial.lab.id}}.png" alt="Product Image" style="width:70px;" />
                                        </a>
                                    </div>
                                    <div class="col-lg-4">
                                        <h5 style="color: #db3208; font-size: large;">{{selectedLabMaterial?.lab.title}}</h5>
                                        <h5>Professor</h5>                                        
                                        <h6 style="color: #db3208; font-size: large;">{{selectedLabMaterial?.lab.professor}}</h6>                        
                                    </div>
                                    <div class="col-lg-4">
                                        <h5 style="color: #db3208; font-size: large;">${{selectedLabMaterial?.lab.price}}</h5>
                                    </div>
                                </div>
                                
                                <hr/>
                                <h4 class="col-xs-12 text-right">
                                    <Strong style="font-size: large">Total Price (
                                        <span>{{selectedBook}}</span> items): </Strong>
                                    <span style="color: #db3208; font-size: large;">$
                                        <span></span>{{studentCart.total}}</span>
                                </h4>
                                <br/>
                                <br/>
                                <button type="submit " class="btn-block btn btn-primary">Place your order
                                    </button>
                                <p>By placing your order, you agree to Le's Bookstore
                                    <a href="# ">privacy</a> notice and
                                    <a href="# ">conditions</a> of use.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>