<div class="container">
	<app-page-header [heading]="'Order History'"></app-page-header>
	<div class="row">
		<div class="col-lg-6" class="table-responsive">
			<table class="table" [mfData]="studentOrderList | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy"
			 mfSortOrder="asc">
				<thead>
					<tr>
						<th colspan="5">
							<div class="row">
								<!-- <div class="col-md-9">
									
								</div> -->
								<div class="col-md-3">
									Rows on page
									<select class="form-control input-sm" [(ngModel)]="rowsOnPage">
										<option [ngValue]="5">5</option>
										<option [ngValue]="10">10</option>
										<option [ngValue]="15">15</option>
									</select>
								</div>
							</div>
						</th>
					</tr>
					<tr>			
						<th>ID</th>
						<th>Order Date</th>						
						<th>Payment Status</th>
						<th>Order Total</th>
						<th>Payment Confirmation Number</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let studentOrder of studentOrderList">						
						<td>
							<a (click)="onSelect(studentOrder)" style="cursor:pointer">{{studentOrder.id}}</a>
						</td>
						<td>{{studentOrder?.orderDate}}</td>
						<td>{{studentOrder?.studentPaymentStatus}}</td>
						<td>${{studentOrder?.orderTotal}}.00</td>
						<td>{{studentOrder?.studentPaymentAuthorizationId}}</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="5">
							<mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>		
	</div>
</div>