<div>
		<app-page-header [heading]="'Edit Lab'" [icon]="'fa-edit'"></app-page-header>
	
		<div class="row">
			<div class="col-lg-6" [hidden]="labUpdated">
	
				<form role="form" (ngSubmit)="onSubmit()">
					<fieldset class="form-group">
						<label>Lab Title</label>
						<input class="form-control" id="title" [(ngModel)]="lab.title" name="title" placeholder="please enter lab title">
					</fieldset>
	
					<fieldset class="form-group">
						<label>Department</label>
						<br/>
						<select name="departmentName" class="form-control" [(ngModel)]="department.id" id="departmentName">
							<!-- <option value="1">Information Technology and Management</option>
							<option value="2">Computer Science</option> -->
							<option *ngFor="let department of departmentList" [value]="department.id" >{{department.departmentName}}
							</option>
						</select>
					</fieldset>
	
					<fieldset class="form-group">
						<label>Course</label>
						<br/>
						<select name="courseName" class="form-control" [(ngModel)]="course.id" id="courseName">
							<!-- <option value="1">Advanced Software Development</option>
							<option value="2">Advanced Web System Integration</option> -->
							<option *ngFor="let course of courseList" [value]="course.id">{{course.courseName}}
							</option>
	
						</select>
					</fieldset>
	
					<fieldset class="form-group">
						<label>Professor</label>
						<input class="form-control"  name="professor" id="professor" [(ngModel)]="lab.professor" placeholder="please enter professor name">
					</fieldset>
	
					<fieldset class="form-group">
						<label>Item Details 1</label>
						<input class="form-control" name="itemdetails1" id="itemdetails1" [(ngModel)]="lab.itemdetails1" placeholder="please enter lab details">
					</fieldset>
	
					<fieldset class="form-group">
						<label>Item Details 2</label>
						<input class="form-control" name="itemdetails2" id="itemdetails2" [(ngModel)]="lab.itemdetails2" placeholder="please enter lab details">
					</fieldset>

					<fieldset class="form-group">
						<label>Item Details 3</label>
						<input class="form-control" name="itemdetails3" id="itemdetails3" [(ngModel)]="lab.itemdetails3" placeholder="please enter lab details">
					</fieldset>
	
					<fieldset class="form-group">
						<label>Item Details 4</label>
						<input class="form-control" name="itemdetails4" id="itemdetails4" [(ngModel)]="lab.itemdetails4" placeholder="please enter lab details">
					</fieldset>

					<fieldset class="form-group">
						<label>Item Details 5</label>
						<input class="form-control" name="itemdetails5" id="itemdetails5" [(ngModel)]="lab.itemdetails5" placeholder="please enter lab details">
					</fieldset>

					<fieldset class="form-group">
						<label>Lab Description/Comments</label>
						<textarea class="form-control" name="description" id="description" [(ngModel)]="lab.description" rows="3" placeholder="please enter additional lab material description"></textarea>
					</fieldset>
	
					<fieldset class="form-group">
						<label for="lab-image">Image</label>
						<input type="file"  name="lab-image" (change)="uploadImageService.fileChangeEvent($event)" class="form-control-file" id="lab-image">
					</fieldset>
	
					<div class="form-group input-group">
						<span class="input-group-addon">
							<i class="fa fa-usd"></i>
						</span>
						<input type="text" name="price" id="price" class="form-control" [(ngModel)]="lab.price" placeholder="please enter lab material kit price">
					</div>
	
					<button type="submit" class="btn btn-secondary">Submit Button</button>
	
					<button type="reset" class="btn btn-secondary">Reset Button</button>
				</form>
			</div>
			<div class="alert alert-success"  [hidden]="!labUpdated">
				<strong>Success!</strong> You just updated the lab!
			</div>
		</div>
		<!-- /.row -->
	</div>