<div class="container">
	<app-page-header [heading]="'List of Available Notes'" [icon]="'fa-edit'"></app-page-header>
	<div class="row">
		<div class="col-lg-6" class="table-responsive">
			<table class="table" [mfData]="notesList | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy"
			 mfSortOrder="asc">
				<thead>
					<tr>
						<th colspan="5">
							<div class="row">
								<!-- <div class="col-md-9">
									
								</div> -->
								<div class="col-md-3">
									Rows on page
									<select class="form-control input-sm" [(ngModel)]="rowsOnPage">
										<option [ngValue]="5">5</option>
										<option [ngValue]="10">10</option>
										<option [ngValue]="15">15</option>
									</select>
								</div>
							</div>
						</th>
					</tr>
					<tr>
						<th>
							<input type="checkbox" (change)="updateSelected($event.target.checked)" />
						</th>
						<th>ID</th>
						<th>Department</th>
						<th>Course</th>
						<th>Professor</th>
						<th>Title</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let notes of notesList">
						<td>
							<input hidden="hidden" name="id" />
							<input type="checkbox" [checked]="allChecked" (change)="updateDeleteNotesList($event.target.checked, notes)" />
						</td>
						<td>
							<a (click)="onSelect(notes)" style="cursor:pointer">{{notes.id}}</a>
						</td>
						<td>{{notes?.department.departmentName}}</td>
						<td>{{notes?.course.courseName}}</td>
						<td>{{notes?.professor}}</td>
						<td>{{notes?.title}}</td>
						<td>USD {{notes?.price}}</td>
						<td>
							<!-- <input hidden="hidden" name="id" /> -->
							<!-- <button md-button (click)="onDelete(book)" value="delete">
								<span class="fa fa-times"></span> delete</button> -->

							<button type="button" (click)="onDelete(notes)" value="delete" class="btn btn-default btn-danger">
								<span class="fa fa-close"></span>&nbsp;delete</button>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="5">
							<mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
		<button type="button" class="btn btn-default btn-danger" id="deleteSelected" (click)="removeSelectedNotes()"><span class="fa fa-close"></span>&nbsp;Delete Selected</button>
	</div>
</div>