<div>
    <app-page-header [heading]="'Add Book'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-6">

            <form role="form" (ngSubmit)="onSubmit()">
                <fieldset class="form-group">
                    <label>Book Title</label>
                    <input class="form-control" [(ngModel)]="newBook.title" name="title" placeholder="please enter book title">
                </fieldset>

                <fieldset class="form-group">
                    <label>Department</label>
                    <br/>
                    <!-- <department-list>Loading....</department-list> -->
                    <select class="form-control"  [(ngModel)]="newBook.departmentName">
                        <option value="Information Technology and Management">Information Technology and Management</option>
                        <option value="Computer Science">Computer Science</option>
                    </select>
                </fieldset>

                <fieldset class="form-group">
                    <label>Course</label>
                    <br/>
                    <!-- <department-list>Loading....</department-list> -->
                    <select class="form-control" [(ngModel)]="newBook.courseName">
                        <option value="Advanced Web System Integration">Advanced Web System Integration</option>
                        <option value="Advanced Software Development">Advanced Software Development</option>
                    </select>
                </fieldset>

                <fieldset class="form-group">
                    <label>Author</label>
                    <input class="form-control" [(ngModel)]="newBook.author" placeholder="please enter author name">
                </fieldset>

                <fieldset class="form-group">
                    <label>Publisher</label>
                    <input class="form-control" [(ngModel)]="newBook.publisher" placeholder="please enter publisher">
                </fieldset>

                <fieldset class="form-group">
                    <label>Book Edition</label>
                    <input class="form-control" [(ngModel)]="newBook.edition" placeholder="please enter book edition">
                </fieldset>

                <fieldset class="form-group">
                    <label>Book Description/Comments</label>
                    <textarea class="form-control" [(ngModel)]="newBook.description"  rows="3" placeholder="please enter additional notes"></textarea>
                </fieldset>

                <fieldset class="form-group">
                    <label for="book-image">Image</label>
                    <input type="file" class="form-control-file" id="book-image">
                </fieldset>

                <div class="form-group input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-usd"></i>
                    </span>
                    <input type="text" class="form-control" [(ngModel)]="newBook.price" placeholder="Font Awesome Icon">
                </div>

                <button type="submit" class="btn btn-secondary">Submit Button</button>

                <button type="reset" class="btn btn-secondary">Reset Button</button>
            </form>
        </div>
    </div>
    <!-- /.row -->
</div>