<div>
	<app-page-header [heading]="'Add Notes'" [icon]="'fa-edit'"></app-page-header>

	<div class="row">
		<div class="col-lg-6">

			<form role="form" (ngSubmit)="onSubmit()">
				<fieldset class="form-group">
					<label>Notes Title</label>
					<input class="form-control" id="title" [(ngModel)]="newNotes.title" name="title" placeholder="please enter book title">
				</fieldset>

				<fieldset class="form-group">
					<label>Department</label>
					<br/>
					<!-- <department-list>Loading....</department-list> -->
					<select name="departmentName" class="form-control" [(ngModel)]="department.id" id="departmentName">
						<!-- <option value="1">Information Technology and Management</option>
						<option value="2">Computer Science</option> -->
						<option *ngFor="let department of departmentList" [value]="department.id">{{department.departmentName}}
						</option>
					</select>
				</fieldset>

				<fieldset class="form-group">
					<label>Course</label>
					<br/>
					<!-- <department-list>Loading....</department-list> -->
					<select name="courseName" class="form-control" [(ngModel)]="course.id" id="courseName">
						<!-- <option value="1">Advanced Software Development</option>
						<option value="2">Advanced Web System Integration</option> -->
						<option *ngFor="let course of courseList" [value]="course.id">{{course.courseName}}
						</option>

					</select>
				</fieldset>

				<fieldset class="form-group">
					<label>Professor</label>
					<input class="form-control" name="professor" id="professor" [(ngModel)]="newNotes.professor" placeholder="please enter professor name">
				</fieldset>

				<fieldset class="form-group">
					<label>Note Details 1</label>
					<input class="form-control" name="notesdetails1" id="notesdetails1" [(ngModel)]="newNotes.notesdetails1" placeholder="please enter note details">
				</fieldset>

				<fieldset class="form-group">
					<label>Note Details 2</label>
					<input class="form-control" name="notesdetails2" id="notesdetails2" [(ngModel)]="newNotes.notesdetails2" placeholder="please enter note details">
				</fieldset>

				<fieldset class="form-group">
					<label>Note Details 3</label>
					<input class="form-control" name="notesdetails3" id="notesdetails3" [(ngModel)]="newNotes.notesdetails3" placeholder="please enter note details">
				</fieldset>

				<fieldset class="form-group">
					<label>Notes Description/Comments</label>
					<textarea class="form-control" name="description" id="description" [(ngModel)]="newNotes.description" rows="3" placeholder="please enter additional notes"></textarea>
				</fieldset>

				<fieldset class="form-group">
					<label for="notes-image">Image</label>
					<input type="file" name="notes-image" (change)="uploadImageService.fileChangeEvent($event)"  class="form-control-file" id="notes-image">
				</fieldset>

				<div class="form-group input-group">
					<span class="input-group-addon">
						<i class="fa fa-usd"></i>
					</span>
					<input type="text" name="price" id="price" class="form-control" [(ngModel)]="newNotes.price" placeholder="prices if any">
				</div>

				<button type="submit" class="btn btn-secondary">Submit Button</button>

				<button type="reset" class="btn btn-secondary">Reset Button</button>
			</form>
		</div>
	</div>
	<!-- /.row -->
</div>