<div>
	<app-page-header [heading]="'View Notes'" [icon]="'fa-edit'"></app-page-header>

	<div class="row">
		<div class="col-lg-6">

			<div class="mb-3">
				<a routerLink="/notesList">
					<i class="fa fa-long-arrow-left"></i> Go Back</a>
				<span> / </span>
				<a (click)="onSelect(notes)" style="cursor: pointer">Edit</a>
			</div>
			
			<div>
				<div class="card card-success card-inverse mb-3">
					<div class="card-header card-success">
						<p>
							<strong>Title: </strong>{{notes?.title}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Professor: </strong>{{notes?.professor}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Notes Details 1: </strong>{{notes?.notesdetails1}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Notes Details 2: </strong>{{notes?.notesdetails2}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Notes Details 3: </strong>{{notes?.notesdetails3}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Description: </strong>{{notes?.description}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Price: </strong>{{notes?.price}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Student Email Id: </strong>{{notes?.student?.emailId}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Student Contact: </strong>{{notes?.student?.phone}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Course Name: </strong>{{notes?.course?.courseName}}</p>
					</div>
					<div class="card-block bg-white">
						<p>
							<strong>Department Name: </strong>{{notes?.department?.departmentName}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>