<div>
    <app-page-header [heading]="' Book'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="row" style="margin-top: 120px;" class="col-lg-6">
            <!-- <div class="col-xs-3">
                <a routerLink="/bookList">Back to book list</a>
                <br />
                <img class="img-responsive" src="{{serverPath}}/image/book/{{book.id}}.png" />
            </div> -->
            <div>
                <h3>
                    <span *ngIf="addBookSuccess" style="color:forestgreen">
                        <i class="fa fa-check" style="color:forestgreen"></i>Added to cart.</span>
                </h3>
                <h3>{{book.title}}</h3>
                <br>
                <div class="row">
                    <div class="col-8">
                        <p>
                            <strong>Author: </strong>
                            <span>{{book.author}}</span>
                        </p>
                        <p>
                            <strong>Publisher:</strong>
                            <span>{{book.publisher}}</span>
                        </p>
                        <p>
                            <strong>Edition</strong>
                            <span>{{book.edition}}</span>
                        </p>
                        <p>
                            <strong>Department</strong>
                            <span>{{book.department?.departmentName}}</span>
                        </p>
                        <p>
                            <strong>Course</strong>
                            <span>{{book.course?.courseName}}</span>
                        </p>
                    </div>
                    <div class="col-4">
                        <div>
                            <h4>Price:
                                <span style="color: #db3208;">$
                                    <span>
                                        {{book.price | number : '1.2-2'}}
                                    </span>
                                </span>
                            </h4>
                        </div>
                        <div>
                            <button (click)="onAddBookToStudentCart()" class="btn btn-default btn-success">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <p>{{book.description}}</p>
        </div>
    </div>
    <!-- /.row -->
</div>